.card {
    flex-basis: 35%;
    min-width: 400px;
    max-width: 34%;
    margin: 1rem;
    height: 280px;
    padding-top: 1.2rem;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background: url('../media/bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  
  .card__label {
    font-style: italic;
    color: #404040;
    text-align: center;
    display: block;
  }
  
  .card__data-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .card__data {
      font-size: 60px;
      margin-bottom: 2rem;
    }
    
    .card__chart-container-doughnut {
      height: 200px;
      width: 200px;
    }
    