* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #f7f7f7;
}

.container {
  padding: 0 10%;
}





.legend {
  margin-left: 1rem;
}

.legend__item {
  display: flex;
  align-items: center;
}

.legend__color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: .5rem;
}

.legend__label {
  font-size: 12px;
}




.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}



.header{
  background-color: #fff;
  padding-top: 2rem;
}

.header__wrapper {
  display: flex;
  justify-content: center;
}

.header__data {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.header__follow {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.header__img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: -3rem;
  border: 1px solid rgb(223, 222, 222);
}


@media only screen and (min-width: 1500px) {
  container{
    padding: 20% 0;
  }
}


@media only screen and (max-width: 500px) {
  .container {
    padding: 0;
  }

  .card {
    flex-basis: 100%;
    min-width: unset;
    max-width: unset;
  }
  

  .header {
    padding-top: 1rem;
  }
  .header__img {
    width: 150px;
    height: 150px;
    margin-top: 1rem;
  }

  .header__wrapper {
    flex-direction: column;
    align-items: center;
  }
}